
body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

form {
  display: inline-block;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  
}

form > input {
  border: none;
  border-bottom: 2px solid lightgray;
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin: 8px 0;
}

form > input:focus {
  outline: none;
  border-bottom: 2px solid #555;
}

form > button{
  margin-top: 10px;
  text-align: center;
  font-size: 24px;
  border: none;
  background-color: white;
  color: #96d9ff;
  cursor: pointer;
}

form > button:disabled{
  color: lightgray;
}

form.label {
  text-align: left;
}

.form-warning {
  text-align: left;
  color: #fc6060;
  font-size: 16px;
}