body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 46px;
  font-weight: bold;
}

form {
  display: block;
  width: 450px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

form > input {
  border: none;
  border-bottom: 2px solid lightgray;
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin: 8px 0 25px 0;
}

form > input:focus {
  outline: none;
  border-bottom: 2px solid #555;
}

form > button{
  margin-top: 25px;
  text-align: center;
  font-size: 30px;
  border-bottom: 2px solid lightgray;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: white;
  color: #96d9ff;
  cursor: pointer;
  padding: 0 10px 10px 10px;
}

form > button:disabled{
  color: #555;
  cursor: default;
}

form.label {
  text-align: left;
}

.TopBar{
  text-align: left;
  background-color: #141936;
  width: 100vw;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin: -10px;
}

.TopBar > li{
  display: inline-block;
}

.Title{
  font-weight: bold;
  color: white;
  margin: 0 40px;
}

.LogSign{
  list-style-type: none;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
}

.LogSign > li{
  display: inline-block;
}

.UserLogout{
  list-style-type: none;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
}

.UserLogout > li{
  display: inline-block;
}

.LogOut{
  margin-top: 25px;
  text-align: center;
  font-size: 25px;
  border: none;
  background-color: #141936;
  color: white;
  cursor: pointer;
  padding: 0 10px 10px 10px;
}

.form-warning {
  text-align: left;
  color: #fc6060;
  font-size: 16px;
  position: absolute;
  padding: 0;
  margin: -20px 0 0 0;
}

.Username{
  color: white;
}